.site-footer {
    #js-back-to-top { // sass-lint:disable-line no-ids
        &:focus {
            outline-color: $primary-invert;
        }
    }

    &__link {
        font-family: $family-secondary !important; // sass-lint:disable-line no-important
        font-size: 1rem !important; // sass-lint:disable-line no-important
        margin-bottom: $theme-spacing;
    }

    &__copy-links {
        font-size: 85% !important; // sass-lint:disable-line no-important
    }
}
