/*
 * Theme Name:  TMS Theme Muumimuseo
 * Description: Tampere Multisite Muumimuseo Theme
 * Version:     1.12.4
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-muumimuseo
 */
