.page-template-page-events-search {
    form {
        .has-colors-accent-secondary {
            color: $primary-invert !important;
            background-color: transparent !important;

            button[type=submit] {
                color: $black !important; // sass-lint:disable-line no-important
                background-color: $primary-invert !important; // sass-lint:disable-line no-important
                border-color: $primary-invert !important; // sass-lint:disable-line no-important

                &:hover,
                &:focus {
                    color: $primary-invert !important; // sass-lint:disable-line no-important
                    background-color: $primary !important; // sass-lint:disable-line no-important
                    border-color: $primary !important; // sass-lint:disable-line no-important
                }

                .icon {
                    fill: currentColor !important; // sass-lint:disable-line no-important
                }
            }
        }
    }
}

.events {
    &__item-inner {
        a.button.is-primary { // sass-lint:disable-line no-qualifying-elements force-element-nesting
            &:hover,
            &:focus {
                color: darken($primary, 5%) !important; // sass-lint:disable-line no-important
                border-color: darken($primary, 5%) !important; // sass-lint:disable-line no-important
            }
        }
    }
}
