.accordion{
    &__row{
        &, &:hover {border-color: $white};
    }
    .icon.is-accent{
        fill: $white !important;
    }

    .image {
        img {
            width: auto;
            max-height: $image-max-height;
        }
    }
}
