.image-banner {
    .button {
        &:hover,
        &:focus,
        &:active {
            color: $primary-invert !important;
            background: $primary !important;
            border-color: $primary-invert !important;

            .icon {
                fill: currentColor !important;
            }
        }
    }
}
