$pill-background-color: $color-vaalean-harmaa;
$pill-color: $secondary-invert;
$pill-color-active: $primary-invert;
$pill-color-hover: $primary;
$pill-background-active: $primary;

$pill-background-active-focus: $primary-dark;
$pill-background-color-hover: $color-white;
$pill-background-color-focus: $color-white;
$pill-background-color-active: $color-white;
$pill-background-color-focus: $color-white;

.pill {
    font-family: $family-primary;
    color: $pill-color;
    background-color: $pill-background-color;
    border: 2px solid $pill-border-color;

    &:not(span) {
        &:focus,
        &.is-focused {
            border-color: $pill-default-border-color-focus;
        }

        &:hover {
            color: $pill-color-hover;
            background-color: $pill-background-color-hover;
            border-color: $pill-border-color-hover;
        }

        &:focus,
        &:active {
            background-color: $pill-background-color-focus;
        }
    }

    &.is-primary {
        color: $primary-invert;
        background-color: $primary;
        border-color: $primary;

        &:not(span) {
            &:hover,
            &.is-hovered {
                color: $primary-invert;
                background-color: bulmaDarken($primary, 2.5%);
            }

            &:focus,
            &.is-focused {
                color: $primary;
                background-color: $primary-invert;
                border-color: $color-black;
            }
        }

        &-invert,
        &.is-inverted {
            color: $primary;
            background-color: $primary-invert;
            border-color: $primary;

            &:not(span) {
                &:hover,
                &.is-hovered {
                    color: $primary-invert;
                    background-color: bulmaDarken($primary, 2.5%);
                }

                &:focus,
                &.is-focused {
                    color: $primary-invert;
                    background-color: $pill-background-color-focus;
                    border-color: $pill-border-color-focus;
                }
            }
        }
    }

    &.is-active {
        color: $pill-color-active;
        background-color: $pill-background-active;

        &:not(span) {
            &:hover,
            &:focus {
                background-color: $pill-background-active-focus;
            }
        }
    }

    &.is-outlined {
        color: $pill-outlined-color;
        background-color: $pill-outlined-background-color;
        border-color: $pill-outlined-border-color;

        &:not(span) {
            &:hover {
                color: $pill-outlined-color-hover;
                background-color: $pill-outlined-background-color-hover;
                border-color: $pill-outlined-border-color-hover;
            }

            &:focus,
            &:active {
                background-color: $pill-outlined-background-color-focus;
                border-color: $pill-outlined-border-color-focus;
            }
        }
    }
}
