.share-links {
    a {
        width: 2.6rem;
        height: 2.6rem;

        &:focus,
        &:hover {
            outline: 2px dashed $primary-invert;
            outline-offset: 2px;
        }

        &.has-background-accent {
            &,
            &:focus,
            &:hover,
            &:active {
                background-color: $accent !important;
            }
        }

        .icon {
            width: 1.1rem;
            height: 1.1rem;
        }
    }
}
