/*--------------------------------------------------------------
# Overrides - Define parent theme variable overrides here.
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
$link-hover: bulmaLighten($link, 15);
$link-active: bulmaLighten($link, 15);

/*--------------------------------------------------------------
# ui-components/header/_secondary-nav.scss
--------------------------------------------------------------*/
$secondary-navbar-item-navbar-link-color: $color-muumipeikon-valkoinen;
$secondary-navbar-item-navbar-link-color-hover: $color-muumipeikon-valkoinen;

/*--------------------------------------------------------------
assets/styles/ui-components/_breadcrumbs.scss
--------------------------------------------------------------*/
$tms-breadcrumb-item-color-link: $color-veden-vari;
$tms-breadcrumb-item-color-hover: bulmaDarken($color-veden-vari, 20);
$tms-breadcrumb-item-color-active: bulmaLighten($color-veden-vari, 20);
$tms-breadcrumb-item-color-separator: $color-muumipeikon-valkoinen;

/*--------------------------------------------------------------
assets/styles/ui-components/_pill.scss
--------------------------------------------------------------*/
$pill-background-color: $color-muumi-haalea;
$pill-color: $black;

$pill-outlined-color: $color-muumi-haalea;
$pill-outlined-color-hover: $color-muumi-haalea;

$pill-background-active-focus: $primary-dark;
$pill-background-color-hover: opacify($secondary-light, .75);
$pill-background-color-focus: $secondary-light;
$pill-background-color-active: $dark;
$pill-background-color-focus: $dark;

$pill-border-color-focus: $black;

/*--------------------------------------------------------------
assets/styles/ui-components/_pagination.scss
--------------------------------------------------------------*/
$pagination-item-background-color: $color-muumipeikon-valkoinen;

/*--------------------------------------------------------------
assets/styles/helpers/_button.scss
--------------------------------------------------------------*/
$button-font-size-tablet: 1rem;

/*--------------------------------------------------------------
assets/styles/views/_search.scss
--------------------------------------------------------------*/
$search-item-hover: $color-muumipeikon-valkoinen;
