// Latin font families
@font-face {
    font-family: "Bodoni Egyptian Pro";
    font-weight: 700;
    src: url("./../fonts/bodoni-egyptian-pro-bold.otf");
}

@font-face {
    font-family: "Bodoni Egyptian Pro";
    font-weight: 400;
    font-display: swap;
    src: url("./../fonts/bodoni-egyptian-pro-medium.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 300;
    font-display: swap;
    src: url("./../fonts/gotham-pro-light.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-display: swap;
    src: url("./../fonts/gotham-pro-regular.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 500;
    font-display: swap;
    src: url("./../fonts/gotham-pro-medium.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 700;
    font-display: swap;
    src: url("./../fonts/gotham-pro-bold.otf");
}

@font-face {
    font-family: "ToveScript";
    font-weight: 400;
    font-display: swap;
    src: url("./../fonts/tovescript-regular.otf");
}

// Japanese font families
@font-face {
    font-family: "Source Han Sans";
    font-weight: 700;
    font-display: swap;
    src: url("./../fonts/SourceHanSans-Bold.otf");
}

@font-face {
    font-family: "Source Han Sans";
    font-weight: 500;
    font-display: swap;
    src: url("./../fonts/SourceHanSans-Medium.otf");
}

@font-face {
    font-family: "Source Han Sans";
    font-weight: 400;
    font-display: swap;
    src: url("./../fonts/SourceHanSans-Regular.otf");
}

@font-face {
    font-family: "Source Han Sans";
    font-weight: 300;
    font-display: swap;
    src: url("./../fonts/SourceHanSans-Light.otf");
}

// Cyrillic font families
@font-face {
    font-family: "Tesla Slab Cy";
    font-weight: 400;
    font-display: swap;
    src: url("./../fonts/TeslaSlabCy-RegularItalic.otf");
}
