@font-face {
    font-family: "Bodoni Egyptian Pro";
    font-weight: 700;
    src: url("../fonts/bodoni-egyptian-pro-bold.otf");
}

@font-face {
    font-family: "Bodoni Egyptian Pro";
    font-weight: 400;
    src: url("./../fonts/bodoni-egyptian-pro-medium.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 300;
    src: url("./../fonts/gotham-pro-light.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 400;
    src: url("./../fonts/gotham-pro-regular.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 500;
    src: url("./../fonts/gotham-pro-medium.otf");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 700;
    src: url("./../fonts/gotham-pro-bold.otf");
}

@font-face {
    font-family: "ToveScript";
    font-weight: 400;
    src: url("./../fonts/tovescript-regular.otf");
}
