@import "functions";

// All Tampere brand colors
$color-white: #fff;
$color-black: #1c1d1f;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-muumipeikon-valkoinen: #f4f7f2;
$color-muumipeikon-valkoinen-invert: $color-black;
$color-veden-vari: #4acbd3;
$color-veden-vari-invert: $color-black;
$color-muumi-haalea: #d8e5d9;
$color-muumi-haalea-invert: $color-black;
$color-muumi-oranssi: #ff7e3b;
$color-muumi-oranssi-invert: $color-black;
$color-muumi-turkoosi: #67bbbc;
$color-muumi-turkoosi-invert: $color-black;
$color-muumi-keltaoranssi: #ffac2e;
$color-muumi-keltaoranssi-invert: $color-black;
$color-muumi-keltainen: #ffd939;
$color-muumi-keltainen-invert: $color-black;

$color-vaalean-harmaa: $color-muumi-haalea;
$color-tumma-harmaa: #585857;
