.layout-badge {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100px;
    overflow: hidden;
    transform: translateY(-40%);
    border-radius: 50%;

    @include from($desktop) {
        top: 64px;
        width: 125px;
        transform: translateY(0);
    }

    &::after {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__text {
        margin: .5ch;
        font-size: 1.75rem;
        line-height: .75;

        @include from($desktop) {
            font-size: 2rem;
        }
    }

    &.align-before {
        left: 0;

        @include from($desktop) {
            left: -85px;
        }
    }

    &.align-after {
        right: 0;

        @include from($desktop) {
            right: -85px;
        }
    }
}

.muumimuseo-hero {
    .layout-badge {
        &.align-before {
            @include from($desktop) {
                left: 0;
                transform: translateX(-55%);
            }

            @include from($widescreen) {
                left: -$gap;
                transform: translateX(-45%);
            }

            @include from(1550px) {
                left: -85px;
                transform: translateX(0);
            }
        }

        &.align-after {
            @include from($desktop) {
                right: 0;
                transform: translateX(55%);
            }

            @include from($widescreen) {
                right: -$gap;
                transform: translateX(45%);
            }

            @include from(1550px) {
                right: -85px;
                transform: translateX(0);
            }
        }
    }
}

.image-banner {
    .layout-badge {
        &.align-before {
            @include from($desktop) {
                left: 0;
                transform: translateX(-35%);
            }
        }

        &.align-after {
            @include from($desktop) {
                right: 0;
                transform: translateX(35%);
            }
        }
    }
}
