.muumimuseo-hero {
    &__background-container {
        @include hero-height;
    }

    &__inner {
        @include from($desktop) {
            max-width: 85%;
            margin: 0 auto -4.75rem;
            transform: translateY(-4.75rem);
        }

        @include from(1550px) {
            max-width: 100%;
        }
    }

    h1 {
        max-width: 20ch;

        @include from($desktop) {
            font-size: 3.38rem !important; // sass-lint:disable-line no-important
        }
    }
}

.hero__video-controls {
    position: relative !important;
}
